<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="domLoadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Choose Group</label>
        </div>
        <select (change)="onChangeGroupType($event.target.value)" class="custom-select" id="inputGroupSelect01"
          formControlName="groupType">
          <option value="domClient_">Clients</option>
          <option value="domList_">Lists</option>
          <option value="domLogXML_">Generated XML</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect02">Description</label>
        </div>
        <select class="custom-select" id="inputGroupSelect02" formControlName="name">
          <option *ngFor="let name of localStorageItems" [selected]="name.selected == true" [value]="name">{{name}}
          </option>
        </select>
      </div>

      <!-- <input type="text" class="form-control" formControlName="name" placeholder="Description"> -->
    </div>

    <div class="form-group">
      <div *ngIf="!locationReload">
        <button type="button" class="btn btn-primary" [disabled]="!domLoadForm.valid" (click)="onSubmit()">Load</button>
      </div>

      <div *ngIf="locationReload">
        <button type="button" class="btn btn-primary" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Load</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>