<ul class="list-group" *ngIf="loaded && journalEntries.length > 0">
  <li *ngFor="let entry of journalEntries" [class.list-group-item-secondary]="selectedJournalEntry === entry"
    class="list-group-item d-flex justify-content-between align-items-center">
    <a (click)="onSelect(entry)" href="#">{{ entry.dcOption }}: {{ entry.bNumber }}</a>    
    <a>{{ entry.tNumber }}</a>
    <div [ngStyle]="{'color':getColor(entry.dcOption)}">
      <span>{{ entry.amount | currency:'EUR' }}</span>
    </div>
    <i (click)="onDelete(entry)" class="fa fa-remove"></i>
  </li>
</ul>

<div *ngIf="loaded && journalEntries.length == 0">
  <h5>There are no journalentries</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading session...</h5>
</div>