<div class="card card-body mb-3">
  <div>
    <tabset #staticTabs>
      <tab heading="Dom Entry">
        <form [formGroup]="domEntryForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input formControlName="id" hidden>
            <input formControlName="domReference" type="text" class="form-control" placeholder="Add a reference">
            <input formControlName="domAmount" type="number" class="form-control" placeholder="Add an amount">
            <input formControlName="domMandateId" type="text" class="form-control" placeholder="Add mandate id">

            <input class="form-control" type="date" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
              formControlName="domMandateStartDate"
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-dark-blue' }"
              placeholder=" Add mandate starting date">

            <input formControlName="domClientName" type="text" class="form-control" placeholder="Add client name">
            <input formControlName="domClientIban" type="text" class="form-control" placeholder="Add iban number">
            <input formControlName="domPaymentReference" type="text" class="form-control"
              placeholder="Add payment reference">
          </div>

          <div class="form-group">
            <input type="submit" [value]="btnAddOrEdit" [disabled]="!domEntryForm.valid" class="btn btn-primary">
            <button (click)="clearState()" type="button" class="btn btn-warning">Clear</button>
            <button (click)="clearEntry()" type="button" class="btn btn-danger">Remove All</button>
            <button (click)="onExport()" type="button" class="btn btn-success">XML Export {{ domJson.length }}</button>
          </div>
        </form>
      </tab>

      <tab heading="Dom Entries (List)">
        <app-domentries></app-domentries>
      </tab>

      <tab heading="Dom Entries (Json)">
        <pre class="card card-block card-header">{{ domJson | json }}</pre>
      </tab>
    </tabset>
  </div>
</div>