<div class="card card-body mb-3">
  <div>
    <tabset #staticTabs>
      <tab heading="{{ dateAsHeader | date: 'dd/MM/yyyy' }} {{ tabHeading }}">
        <div *ngIf="!entryHeaderLocked">
          <form [formGroup]="journalEntryHeaderForm" (ngSubmit)="onHeaderLock()">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="description" placeholder="Add a description">

              <input type="date" class="form-control" required pattern="\d{4}-\d{2}-\d{2}" formControlName="date"
                placeholder="Add booking date">
            </div>
            <input type="submit" class="btn btn-primary" value="Lock" [disabled]="!journalEntryHeaderForm.valid">
          </form>
        </div>

        <div *ngIf="entryHeaderLocked">
          <form [formGroup]="journalEntryForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="id" hidden>
              <input formControlName="description" hidden>
              <input formControlName="date" hidden>

              <div btnRadioGroup class="btn-group" formControlName="dcOption">
                <label btnRadio="D" class="btn btn-primary btn-sm" tabindex="0" role="button">Debit</label>
                <label btnRadio="C" class="btn btn-primary btn-sm" tabindex="0" role="button">Credit</label>
                <label btnRadio="T" class="btn btn-primary btn-sm" tabindex="0" role="button">Debit/Credit</label>
                <div *ngIf="!readyForBooking">
                  <button type="button" class=" ml-1 btn btn-warning btn-sm" (click)="checkBalance()">Square Check:
                    {{ totalSolde  | currency:'EUR'}}</button>
                </div>
                <div *ngIf="readyForBooking">
                  <button type="button" class="ml-1 btn btn-success" (click)="onBooking()">Book Entry</button>
                </div>
              </div>

              <input type="text" class="form-control " formControlName="amount" placeholder="Add an amount">
              <input type="text" class="form-control " formControlName="bNumber" placeholder="Add an account number">
              <div *ngIf="journalEntryForm.value.dcOption == 'T'">
                <input type="text" class="form-control " formControlName="tNumber"
                  placeholder="Add a D/C contra-accountnumber">
              </div>
            </div>

            <input type="submit" class="btn btn-primary mr-1" value="Add" [disabled]="!journalEntryForm.valid">
            <button type="button" class="btn btn-warning mr-1" (click)="clearState()">Reset</button>
            <button type="button" class="btn btn-danger" (click)="clearEntry()">Remove All</button>

          </form>
          <a>{{ warning }} </a>
        </div>
      </tab>
      <tab heading="Entries List">
        <app-journalentries></app-journalentries>
      </tab>
      <tab heading="Entries Json">
        <pre class="card card-block card-header">{{ entriesJson | json }}</pre>
      </tab>
    </tabset>
  </div>
</div>