<div class="card card-body mb-3">
  <div>
    <tabset>
      <tab heading="{{ dateAsHeader | date: 'dd/MM/yyyy' }} {{ tabHeading }}">
        <div *ngIf="!entryHeaderLocked">
          <form [formGroup]="journalEntryHeaderForm" (ngSubmit)="onHeaderLock()">
            <div class="form-group">
              <input formControlName="description" type="text" class="form-control" placeholder="Add a description">

              <input class="form-control" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                formControlName="date" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
                placeholder=" Add a date">
            </div>
            <input type="submit" value="Lock" [disabled]="!journalEntryHeaderForm.valid" class="btn btn-primary">
          </form>
        </div>

        <div *ngIf="entryHeaderLocked">
          <form [formGroup]="journalEntryForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="id" hidden>
              <input formControlName="description" hidden>
              <input formControlName="date" hidden>

              <div class="btn-group" btnRadioGroup formControlName="dcOption">
                <label btnRadio="D" class="btn btn-primary" tabindex="0" role="button">Debit</label>
                <label btnRadio="C" class="btn btn-primary" tabindex="0" role="button">Credit</label>
                <label btnRadio="T" class="btn btn-primary" tabindex="0" role="button">Debit/Credit</label>
                <div *ngIf="!readyForBooking">
                  <button (click)="checkBalance()" type="button" class="btn btn-warning">Square Check:
                    {{ totalSolde  | currency:'EUR'}}</button>
                </div>
                <div *ngIf="readyForBooking">
                  <button (click)="onBooking()" type="button" class="btn btn-success">Book Entry</button>
                </div>
              </div>

              <input formControlName="amount" type="text" class="form-control" placeholder="Add an amount">
              <input formControlName="bNumber" type="text" class="form-control" placeholder="Add an account number">
              <div *ngIf="journalEntryForm.value.dcOption == 'T'">
                <input formControlName="tNumber" type="text" class="form-control"
                  placeholder="Add a D/C contra-accountnumber">
              </div>
            </div>

            <input type="submit" value="Add" [disabled]="!journalEntryForm.valid" class="btn btn-primary">
            <button (click)="clearState()" type="button" class="btn btn-warning">Reset</button>
            <button (click)="clearEntry()" type="button" class="btn btn-danger">Remove All</button>

          </form>
          <a>{{ warning }} </a>
        </div>
        <app-journalentries></app-journalentries>
      </tab>
      <tab heading="Journal Entry (Json)">
        <pre class="card card-block card-header">{{ bookingJson | json }}</pre>
      </tab>
    </tabset>
  </div>
</div>