<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="domExportForm" (ngSubmit)="generateDomXml()">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="domDescription" placeholder="App Description">
      <input readonly type="text" class="form-control" formControlName="domDateCreated" placeholder="Creation date">
      <input type="text" class="form-control" formControlName="domInfoText" placeholder="CDD About Description">
      <input type="date" class="form-control" formControlName="domMemoDate" placeholder="Memo Date">
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary mr-1" value="generate Dom XML" [disabled]="!domExportForm.valid">
      <button type="button" class="btn btn-warning" (click)="clearState()">Clear</button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>