<div class="card card-body mb-3">
  <form [formGroup]="domSettingsForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input formControlName="name" type="text" class="form-control" placeholder="Creditor name">
      <input formControlName="enterpriseNumber" type="text" class="form-control"
        placeholder="Creditor enterprise number">
      <input formControlName="country" type="text" class="form-control" placeholder="Creditor Country code">
      <input formControlName="street" type="text" class="form-control" placeholder="Creditor street and number">
      <input formControlName="pcPlace" type="text" class="form-control" placeholder="Creditor postal code and city">
      <input formControlName="iban" type="text" class="form-control" placeholder="Creditor IBAN">
      <input formControlName="bic" type="text" class="form-control" placeholder="Creditor BIC">
      <input formControlName="domId" type="text" class="form-control" placeholder="Creditor DOM Id">
    </div>

    <div class="form-group">
      <input type="submit" value="Save" [disabled]="!domSettingsForm.valid" class="btn btn-primary">
      <button (click)="clearState()" type="button" class="btn btn-warning">Clear</button>
      <button (click)="onRead()" type="button" class="btn btn-success">Read</button>
    </div>
  </form>
</div>